{% extends "telemeta/home.html" %}
{% load telemeta_tags %}
{% load i18n %}


{% block partners %}
<div id="modele" class="module">
    <h3><img src="{{ STATIC_URL }}telemeta/images/module_playlist.png" style="vertical-align:middle" />
    Partenaires scientifiques</h3><br/>
    <div style="background-color: white; padding: 1ex;" align="center">
        <a href="https://www.umoncton.ca/" target="_blank"><img class="logo" style="width:150px" src="https://upload.wikimedia.org/wikipedia/en/thumb/4/42/UniversiteDeMoncton.svg/320px-UniversiteDeMoncton.svg.png" alt="Universit   de Mo$
        <a href="https://ustboniface.ca/" target="_blank"><img class="logo"  style="width:200px" src="https://upload.wikimedia.org/wikipedia/en/3/37/Universit%C3%A9_de_Saint-Boniface_logo.png" alt="Universit   Saint-Boniface"></a>
        <a href="http://cfof.on.ca" target="_blank"><img class="logo" src="" alt="Centre Franco-Ontarien de Folklore"></a>
        <a href="" target="_blank"><img class="logo" style="width:180px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Universit%C3%A9_Sainte-Anne_Logo.svg/230px-Universit%C3%A9_Sainte-Anne_Logo.svg.png" alt="Universit $
        <a href="" target="_blank"><img class="logo" style="background-color: red;width:180px" src="https://www.louisiana.edu/sites/louisiana/files/ull-logo_0.png" alt="University of Louisiana - Lafayette"></a>
    </div>
</div>

<div id="module" class="module">
    <h3><img src="{{ STATIC_URL }}telemeta/images/module_playlist.png" style="vertical-align:middle" />
    Partenaires techniques</h3><br />
    <div style="background-color: white; padding: 1ex;" align="center">
    <a href="http://mshs.univ-poitiers.fr/" target="_blank"><img class="logo" src="{{ STATIC_URL }}telemeta/images/logo_mshs.png" alt="MSHS"></a>&nbsp;&nbsp;&nbsp;
    <a href="http://www.cnrs.fr" target="_blank"><img class="logo" src="{{ STATIC_URL }}telemeta/images/logo-CNRS.png" alt="CNRS"></a>&nbsp;&nbsp;&nbsp;
    <br /><br />
    <a href="http://crem-cnrs.fr" target="_blank"><img class="logo" src="{{ STATIC_URL }}telemeta/images/logo_crem.png" alt="CREM"></a>
    <a href="http://www.parisson.com" target="_blank"><img class="logo" src="{{ STATIC_URL }}telemeta/images/parisson_logo_125_72.png" alt="Parisson"></a>
    <a href="http://www.huma-num.fr" target="_blank"><img class="logo" src="{{ STATIC_URL }}telemeta/images/logohumanum.png" alt="Huma-Num"></a>
    <a href="" target="_blank"><img class="logo" src="http://pix.toile-libre.org/upload/original/1338823010.png" alt="Coop  rative Art  facts"></a>
    </div>
</div>

<div id="modele" class="module">
    <h3><img src="{{ STATIC_URL }}telemeta/images/module_playlist.png" style="vertical-align:middle" />
    Partenaires financiers</h3><br/>
    <div style="background-color: white; padding: 1ex;" align="center">
        <a href="" target="_blank"><img class="logo" style="width:180px" src="http://www.institutpascal.uca.fr/images/logos/Logo-UE-FEDER-web.jpg" alt="FEDER"></a>
        <a href="" target="_blank"><img class="logo" style="width:180px" src="https://upload.wikimedia.org/wikipedia/fr/thumb/3/38/Logo_de_la_R%C3%A9publique_fran%C3%A7aise_%281999%29.svg/320px-Logo_de_la_R%C3%A9publique_fran%C3%A7aise_%281999%29.svg.png"
        <a href="" target="_blank"><img class="logo" style="width:180px" src="https://upload.wikimedia.org/wikipedia/fr/thumb/e/e4/Logotype-Nouvelle-Aquitaine-2016.svg/320px-Logotype-Nouvelle-Aquitaine-2016.svg.png" alt="Nouvelle Aquita$
        <a href="https://www.grandpoitiers.fr/" target="_blank"><img class="logo" src="https://upload.wikimedia.org/wikipedia/fr/1/16/GrandPoitiers.png" alt="Grand Poitiers"></a>
        <a href="" target="_blank"><img class="logo" style="width:180px" src="http://cper-numeric.prd.fr/wp-content/uploads/sites/135/2014/04/numeric_bandeau.png" alt="CPER Numeric"></a>
        <a href="" target="_blank"><img class="logo" style="width:120px" src="https://echosciences.nouvelle-aquitaine.science/uploads/event/image/attachment/1005411436/xl_index.png" alt="CPER Insect"></a>
        <a href="" target="_blank"><img class="logo" src="" alt=""></a>
    </div>
</div>

{% endblock %}
